@model LearnFast.Web.ViewModels.Administration.Dashboard.IndexViewModel

@{
    this.ViewData["Title"] = "Dashboard";
}

<section>
    <hr class="hr hr-blurry" />
    <div>
        <p>Courses: @Model.CoursesCount</p>
        <p>Reviews: @Model.ReviewsCount</p>
    </div>
    <hr class="hr hr-blurry" />
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-heading1">
                <button class="accordion-button collapsed"
                        type="button"
                        data-mdb-toggle="collapse"
                        data-mdb-target="#flush-collapse1"
                        aria-expanded="false"
                        aria-controls="flush-collapse1">
                    Users
                </button>
            </h2>
            <span class="text-info">Total count: @Model.UsersCount</span>
            <div id="flush-collapse1"
                 class="accordion-collapse collapse"
                 aria-labelledby="flush-heading1"
                 data-mdb-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Full name</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in Model.Users)
                            {
                                <tr>
                                    <th scope="col">#@user.Id</th>
                                    <td><a href="/@user.UserName">@user.FullName</a></td>
                                    <td><a asp-area="Administration" asp-action="DeleteUser" asp-route-userId="@user.Id">Delete user</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-heading2">
                <button class="accordion-button collapsed"
                        type="button"
                        data-mdb-toggle="collapse"
                        data-mdb-target="#flush-collapse2"
                        aria-expanded="false"
                        aria-controls="flush-collapse2">
                    Courses
                </button>
            </h2>
            <span class="text-info">Total count: @Model.CoursesCount</span>
            <div id="flush-collapse2"
                 class="accordion-collapse collapse"
                 aria-labelledby="flush-heading2"
                 data-mdb-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Owner</th>
                                <th scope="col">Title</th>
                                <th scope="col">Price</th>
                                <th scope="col">Category</th>
                                <th scope="col">Difficulty</th>
                                <th scope="col">Language</th>
                                <th scope="col">Sells</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var course in Model.Courses)
                            {
                                    <tr>
                                    <th scope="col">#@course.Id</th>
                                    <td><a href="/@course.Owner.UserName">@course.Owner.FullName</a></td>
                                    <td><a asp-area="" asp-controller="Course" asp-action="Details" asp-route-id="@course.Id">@course.Title</a></td>
                                    <td>@course.Price</td>
                                    <td>@course.Category.Name</td>
                                    <td>@course.Difficulty</td>
                                    <td>@course.Language.Name</td>
                                    <td>@course.Sells</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed"
                        type="button"
                        data-mdb-toggle="collapse"
                        data-mdb-target="#flush-collapseOne"
                        aria-expanded="false"
                        aria-controls="flush-collapseOne">
                    Countries
                </button>
            </h2>
            <span class="text-info">Total count: @Model.CountriesCount</span>
            <div id="flush-collapseOne"
                 class="accordion-collapse collapse"
                 aria-labelledby="flush-headingOne"
                 data-mdb-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var country in Model.Countries)
                            {
                                <tr>
                                    <th scope="col">#@country.Id</th>
                                    <td>@country.Name</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed"
                        type="button"
                        data-mdb-toggle="collapse"
                        data-mdb-target="#flush-collapseTwo"
                        aria-expanded="false"
                        aria-controls="flush-collapseTwo">
                    Languages
                </button>
            </h2>
            <span class="text-info">Total count: @Model.LanguagesCount</span>
            <div id="flush-collapseTwo"
                 class="accordion-collapse collapse"
                 aria-labelledby="flush-headingTwo"
                 data-mdb-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var language in Model.Languages)
                            {
                                <tr>
                                    <th scope="col">#@language.Id</th>
                                    <td>@language.Name</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed"
                        type="button"
                        data-mdb-toggle="collapse"
                        data-mdb-target="#flush-collapseThree"
                        aria-expanded="false"
                        aria-controls="flush-collapseThree">
                    Categories
                </button>
            </h2>
            <span class="text-info">Total count: @Model.CategoriesCount</span>
            <div id="flush-collapseThree"
                 class="accordion-collapse collapse"
                 aria-labelledby="flush-headingThree"
                 data-mdb-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var category in Model.Categories)
                            {
                                <tr>
                                    <th scope="col">#@category.Id</th>
                                    <td>@category.Name</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>