@model LearnFast.Web.ViewModels.Review.ReviewListViewModel

@{
    this.ViewData["Style"] = "reviews.css";
}

<div class="reviews">
    @foreach (var review in Model.Reviews)
    {
        // Add paging
        <div class="text-center review">
            <p>@review.User.FullName</p>
            <img class="avatar" src="@review.User.MainImageUrl" />
            <p>@review.Content</p>
            <div>
                @for (int i = 1; i <= 6; i++)
                {
                    <span>
                        @if (i <= review.Rating)
                        {
                            <i class="bi bi-star-fill star"></i>
                        }
                        else
                        {
                            <i class="bi bi-star"></i>
                        }
                    </span>
                }
                <span>@review.Rating/6</span>
            </div>
        </div>
    }
    @if (!Model.IsSelected || Model.PagesCount > 1)
    {
        <div class="paging">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    @if (Model.HasPreviousPage)
                    {
                        <li class="page-item">
                            <a asp-area=""
                       asp-controller="Review"
                       asp-action="All"
                       asp-route-Page="@Model.PreviousPage"
                       asp-route-CourseId="@Model.CourseId">Previous</a>
                        </li>
                    }

                    @if (Model.HasNextPage)
                    {
                        <li class="page-item">
                            <a asp-area=""
                       asp-controller="Review"
                       asp-action="All"
                       asp-route-Page="@Model.NextPage"
                       asp-route-CourseId="@Model.CourseId">Next</a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    }
</div>