@model LearnFast.Web.ViewModels.Course.PurchaseCourseViewModel

@{
    this.ViewData["Title"] = "Purchase course";
    var token = this.ViewData["ClientToken"];
}

<section>
    <form id="payment-form" method="post" asp-controller="Course" asp-action="Buy" asp-route-Price="@Model.Price" asp-route-Id="@Model.Id">
        @Html.HiddenFor(n => n.Id)
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="@Model.MainImageUrl"
                         alt="image"
                         class="img-fluid rounded-start" />
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><a asp-controller="Course" asp-action="Details" asp-route-id="@Model.Id">@Model.Title</a></h5>
                        <p class="card-text">
                            @Model.Category.Name
                        </p>
                        <p class="card-text">
                            <small class="text-muted"><a href="/@Model.Owner.UserName">@Model.Owner.FullName</a></small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <section>
            <div class="bt-drop-in-wrapper">
                <div id="bt-dropin"></div>
            </div>
        </section>
        @Html.HiddenFor(n => n.Nonce, new { @id = "nonce" })
        <button class="btn btn-success" type="submit"><span>Confirm payment - $@Model.Price</span></button>
    </form>
</section>


@section Scripts {
    <script src="https://js.braintreegateway.com/web/dropin/1.22.0/js/dropin.min.js"></script>
    <script>
        var client_token = "@ViewBag.ClientToken";
        var form = document.querySelector('#payment-form');

        braintree.dropin.create({
            authorization: client_token,
            container: '#bt-dropin'
        }, function (createErr, instance) {
            form.addEventListener('submit', function (event) {
                event.preventDefault();

                instance.requestPaymentMethod(function (err, payload) {
                    if (err) {
                        return;
                    }

                    document.querySelector('#nonce').value = payload.nonce;
                    form.submit();
                });
            });
        });
    </script>
}