@model LearnFast.Web.ViewModels.Course.CourseViewModel

@{
    this.ViewData["Title"] = "Course details";
    this.ViewData["Style"] = "details.css";
}

<section>
    <h1>@this.ViewData["Title"]</h1>
    <span>Category</span>
    <h2>@Model.Category.Name</h2>
    <hr />
    <h3>@Model.Title</h3>>
    <div class="overview">
        <h4>Description</h4>
        <div class="description">@Model.Description</div>
        <hr />
        <h4>Overview</h4>
        <div class="additional-info">
            <div>
                <span>@Model.ReviewsCount reviews</span>
                <span>@Model.Sells students</span>
            </div>
            <div>Created by: @Model.Owner.FullName</div>
            <div>Language: @Model.Language.Name</div>
            <div>Difficulty: @Model.Difficulty</div>
            @if (Model.Price <= 0)
            {
                <div class="price">Free course</div>
            }
            else
            {
                <div class="price">@($"${Model.Price:F2}")<a asp-controller="Home" asp-action="Index"><i class="bi bi-bag-fill"></i></a></div>
            }
        </div>
    </div>
    <div class="main-image">
        <img src="@Model.MainImageUrl" accept="image/gif, image/jpeg, image/png">
    </div>
    <hr />
    <div class="requirments">
        <h4>Course requirments</h4>
        <p>
            @Model.Requirments;
        </p>
    </div>
    <div>
        @if (Model.Owner.Id == Model.CurrentUserId)
        {
            <a asp-controller="Video" 
               asp-action="AddVideo" 
               asp-route-courseId="@Model.Id"
               asp-route-ownerId="@Model.Owner.Id" type="submit">Add video</a>
        }
        <h4>Course content</h4>
        @if (Model.VideosCount == 0)
        {
            <div class="alert alert-info mx-auto" role="alert">
                No contents.
            </div>
        }
        else
        {
            @foreach (var video in Model.Videos)
            {
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#@(video.Title)" aria-expanded="false" aria-controls="flush-collapseOne">
                                @video.Title
                            </button>
                        </h2>
                        <div id="@video.Title" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <video src="@video.UrlPath" controls></video>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</section>
