@using LearnFast.Web.ViewModels.Review
@model LearnFast.Web.ViewModels.Course.CourseViewModel

@{
    this.ViewData["Title"] = "Course details";
    this.ViewData["Style"] = "details.css";
}

<section>
    <h1>@this.ViewData["Title"]</h1>
    <span>Category</span>
    <h2>@Model.Category.Name</h2>
    <hr />
    <h3>@Model.Title</h3>>
    <div class="overview">
        <h4>Description</h4>
        <div class="description">@Model.Description</div>
        <hr />
        <h4>Overview</h4>
        <div class="additional-info">
            <div>
                <span>@Model.Sells students</span>
            </div>
            <div>Created by: @Model.Owner.FullName</div>
            <div>Language: @Model.Language.Name</div>
            <div>Difficulty: @Model.Difficulty</div>
            @if (Model.Price <= 0)
            {
                <div class="price">Free course</div>
            }
            else
            {
                <div class="price">@($"${Model.Price:F2}")<a asp-controller="Home" asp-action="Index"><i class="bi bi-bag-fill"></i></a></div>
            }
        </div>
    </div>
    <div class="main-image">
        <img src="@Model.MainImageUrl" accept="image/gif, image/jpeg, image/png">
    </div>
    <hr />
    <div class="requirments">
        <h4>Course requirments</h4>
        <p>
            @Model.Requirments;
        </p>
    </div>
    <div>
        @if (Model.Owner.Id == Model.CurrentUserId)
        {
            <a class="btn btn-success" asp-controller="Video"
           asp-action="AddVideo"
           asp-route-courseId="@Model.Id"
           asp-route-ownerId="@Model.Owner.Id">Add video</a>

            <a class="btn btn-success" asp-controller="Course"
           asp-action="Edit"
           asp-route-id="@Model.Id">Edit course</a>
        }
        <h4>Course content</h4>
        @if (Model.VideosCount == 0)
        {
            <div class="alert alert-info mx-auto" role="alert">
                No contents.
            </div>
        }
        else
        {
            // TODO: should don't show content on users who don't enroll in the course.
            var videos = Model.Videos.ToArray();
            <div class="accordion" id="flush">
                @for (int i = 0; i < Model.VideosCount; i++)
                {
                    var video = videos[i];
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-@i + 1">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-@i" aria-expanded="false" aria-controls="flush-@i">
                                @video.Title
                            </button>
                        </h2>
                        <div id="flush-@i" class="accordion-collapse collapse" aria-labelledby="flush-@i + 1" data-bs-parent="#flush">
                            <div class="accordion-body">
                                <video src="@video.UrlPath" controls></video>
                            </div>
                            @if (Model.Owner.Id == Model.CurrentUserId)
                            {
                                <div class="accordion-body text-end">
                                    <a asp-area=""
                           asp-controller="Video"
                           asp-action="Edit"
                           asp-route-Title="@video.Title"
                           asp-route-UrlPath="@video.UrlPath"
                           asp-route-Id="@video.Id"
                           asp-route-Description="@video.Description"
                           asp-route-OwnerId="@Model.Owner.Id"
                           asp-route-CourseId="@Model.Id" class="btn btn-outline-secondary">Edit video</a>
                                </div>
                                <div class="accordion-body text-end">
                                    <a asp-area=""
                           asp-controller="Video"
                           asp-action="RemoveVideo"
                           asp-route-videoId="@video.Id"
                           asp-route-ownerId="@Model.Owner.Id"
                           asp-route-courseId="@Model.Id" class="btn btn-outline-danger">Delete video</a>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        }
    </div>
    <hr />
    <div>
        <div>
            <h4><a asp-area="" asp-controller="Review" asp-action="All" asp-route-CourseId="@Model.Id">All</a>/Top reviews</h4>
            <a class="btn btn-success" asp-area="" asp-controller="Review" asp-action="Add" asp-route-courseId="@Model.Id">Add review</a>
        </div>
        <div class="reviews">
            <hr />
            @if (this.Model.ReviewsCount == 0)
            {
                <div class="alert alert-info mx-auto" role="alert">
                    No have reviews yet.
                </div>
            }
            else
            {
                <partial name="_ReviewPartial" model="new ReviewListViewModel { Reviews = Model.Reviews, IsSelectedReviews = true }" />
            }
        </div>
    </div>
</section>