@model LearnFast.Web.ViewModels.Review.ReviewListViewModel

<div class="reviews">
    @foreach (var review in Model.Reviews)
    {
        <div class="text-center review">
            @if (Model.CurrentUserId == review.User.Id && !Model.IsSelectedReviews)
            {
                <div class="text-end" id="@review.Id">
                    <span class="btn btn-info">
                        <a asp-area=""
                   asp-action="Edit"
                   asp-route-reviewId="@review.Id">Edit</a>
                    </span>
                    <span>
                        <a class="btn btn-danger"
                   asp-area=""
                   asp-action="Delete"
                   asp-route-reviewId="@review.Id"
                   asp-route-courseId="@Model.CourseId">Delete</a>
                    </span>
                </div>
            }
            <p class="name"><a href="/@review.User.UserName">@review.User.FullName</a></p>
            <img class="avatar" src="@review.User.MainImageUrl" />
            <p>@Html.Raw(review.Content)</p>
            <div>
                <p>@review.CreatedOn</p>

                @for (int i = 1; i <= 6; i++)
                {
                    <span>
                        @if (i <= review.Rating)
                        {
                            <i class="bi bi-star-fill star"></i>
                        }
                        else
                        {
                            <i class="bi bi-star"></i>
                        }
                    </span>
                }
                <span>@review.Rating/6</span>
                @if (Model.CurrentUserId == Model.CourseOwnerId && Model.IsSelectedReviews)
                {
                    <p class="text-start">
                        <a asp-controller="Review"
                   asp-action="Selecting"
                   asp-route-CourseId="@Model.CourseId"
                   asp-route-ReviewId="@review.Id"
                   asp-route-IsSelected="@review.IsSelected" class="btn btn-outline-danger btn-sm">
                            Remove
                        </a>
                    </p>
                }
                else if (Model.CurrentUserId == Model.CourseOwnerId && !Model.IsSelectedReviews)
                {
                    <div class="text-end">
                        @if (!review.IsSelected)
                        {
                            <p>
                                <a asp-controller="Review"
                       asp-action="Selecting"
                       asp-route-ReviewId="@review.Id"
                       asp-route-CourseId="@Model.CourseId"
                       asp-route-IsSelected="@review.IsSelected" class="btn btn-outline-success btn-sm">
                                    Select as top review
                                </a>
                            </p>
                        }
                        else
                        {
                            <p>
                                <a asp-controller="Review"
                       asp-action="Selecting"
                       asp-route-ReviewId="@review.Id"
                       asp-route-CourseId="@Model.CourseId"
                       asp-route-IsSelected="@review.IsSelected" class="btn btn-outline-danger btn-sm">
                                    Remove from selected reviews
                                </a>
                            </p>
                        }
                    </div>
                }
            </div>
        </div>
    }
    @if (!Model.IsSelectedReviews && Model.PagesCount > 1)
    {
        <div class="paging">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    @if (Model.HasPreviousPage)
                    {
                        <li class="page-item">
                            <a asp-area=""
                       asp-controller="Review"
                       asp-action="All"
                       asp-route-Page="@Model.PreviousPage"
                       asp-route-CourseId="@Model.CourseId">Previous</a>
                        </li>
                    }

                    @if (Model.HasNextPage)
                    {
                        <li class="page-item">
                            <a asp-area=""
                       asp-controller="Review"
                       asp-action="All"
                       asp-route-Page="@Model.NextPage"
                       asp-route-CourseId="@Model.CourseId">Next</a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    }
</div>